<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Spring Boot Web 开发测试</title>
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
    <script th:src="@{/js/jquery.min.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>
</head>
<script type="text/javascript">
    $(document).ready(function () {
        findBooks();
    });
    function findBooks(){
        $.post("/findBooks",null,
            function (data) {
            $.each(data,function () {
                var tr=$("<tr align='center'/>");
                $("<img/>").attr("src","img/"+this.image).attr("height",60).appendTo("<td/>").appendTo(tr);
                $("<td/>").html(this.name).appendTo(tr);
                $("<td/>").html(this.author).appendTo(tr);
                $("#booktable").append(tr);
            })
        },"json");

    }
</script>
<body>
<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">springboot中集合转换JSON</h3>
    </div>
</div>
<div class="container">
    <div class="col-md-12">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">图书列表信息</h3>
            </div>
            <div class="panel-body">
                <div class="table table-responsive">
                    <table class="table table-bordered table-hover" id="booktable">
                        <thead>
                        <tr>
                            <th class="text-center">封面</th>
                            <th class="text-center">书名</th>
                            <th class="text-center">作者</th>

                        </tr>
                        </thead>
                        <tbody class="text-center"></tbody>
                    </table>
                </div>

        </div>
        </div>
    </div>
</div>

</body>
</html>